$bg-purple: #87509c;
$menuHover: #643a79;
$menuColor : #ffffff;
$jumbotronButton : #eb7d4b;
$jumbotronButtonShaddow: #c86a40;
$serviceBg : #17c2a4;
$serviceHr : #15af94;
$portfoliobg : #ffdd99;
$portfolioColor : #60584a;
$portfolioHr : #e5c37f;
$portfolioFilterBg : #ebc985;
$contactBg : #3c5499;
$contactInput : #273a71;
$contactSubmit : #30bae7;
$contactSubmtShadow : #299ec5;
$footerBg : #344b8e;

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    // overflow-x: hidden;

    header {
        background-color: $bg-purple;
        padding-bottom: 2rem;

        .nav {
            .nav-item {

                margin-right: 2rem;

                .nav-link {
                    color: #ffffff;
                    font-size: 1rem;
                    padding: 10px 18px;
                }

                .nav-link:hover {
                    background-color: $menuHover;
                    border-radius: 5px;
                }
            }

            .nav-item:last-child {
                margin-right: 0;
            }
        }

        .jumbotron-fluid {
            background: transparent;
            text-align: center;
            color: $menuColor;
            padding: 9.2rem 0;

            h1 {
                font-weight: 800;
                font-size: 2.7rem;
            }

            a {
                text-transform: uppercase;
                background-color: #eb7d4b;
                color: #ffffff;
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 3rem;
                box-shadow: 1px 3px 1px #c86a40;
            }

            a:hover {
                color: $menuColor;
            }
        }

    }

    #service {
        color: $menuColor;
        padding: 7rem 0 3rem;
        background: $serviceBg;
        text-align: center;

        h1 {
            font-weight: 900;
            letter-spacing: 4px;
        }

        .hr {
            width: 100px;
            border-bottom: 5px solid $serviceHr;
            margin: 1rem auto;
        }

        p {
            width: 80%;
            margin: 0 auto;
            font-size: 1rem;
            font-weight: lighter;
        }

        .card {
            background: transparent;
            border: none;
            margin-top: 2rem;

            h2 {
                font-size: 1.5rem;
            }

            img {
                width: 30%;
                height: 7vw;
                object-fit: contain;
            }

            p {
                font-size: .8rem;
            }
        }
    }

    #portfolio {
        @extend #service;
        color: $portfolioColor;
        background: $portfoliobg;

        .hr {
            border-color: $portfolioHr;
        }

        .align {
            width: 100%;

            .filter-button {
                font-size: 18px;
                padding: .9rem 2rem;
                background: $portfolioFilterBg;
                border-radius: 5px;
                margin-bottom: 20px;
            }

            .filter-button:hover {
                border-radius: 5px;
                text-align: center;
                background-color: $menuColor;

            }

            .filter-button:active {
                background-color: $menuColor;
            }
        }

        #myBtn {
            margin: auto;
            background: $serviceBg;
            color: $menuColor;
            font-weight: 600;
            font-size: 1.1rem;
            box-shadow: 1px 2.5px 1px $serviceHr;

        }

        #more {
            display: none;
        }

        .gallery_product {
            margin-bottom: 30px;
        }
    }

    #contact {
        @extend #service;
        background: $contactBg;
        color: $menuColor;

        .hr {
            border-color: $contactInput;
        }

        .input {
            width: 80%;
            margin: 4rem auto 2rem;

            .contactInput {
                width: 100%;
                margin: 1rem;
                padding: 1rem;
                border-radius: 10px;
                border: none;
                background: $contactInput;
                color: $menuColor;
            }

            ::placeholder {
                color: $menuColor;
            }

            .contactbtn {
                margin: auto;
                background: $contactSubmit;
                color: $menuColor;
                font-weight: 600;
                font-size: 1.1rem;
                box-shadow: 1px 2.5px 1px $contactSubmtShadow;
            }
        }

    }

    footer {
        background: $footerBg;

        .nav {
            .nav-item {
                .nav-link {
                    color: $menuColor;
                    font-weight: bold;
                    margin-left: 2rem;
                    font-size: 20px;
                }

                .nav-link:hover {
                    color: $contactSubmit;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .gallery_product {
        img {
            width: 80%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .card {
        img {
            height: 15vw !important;
        }
    }

    .gallery_product {
        img {
            width: 80%;
        }
    }
}