@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
body {
  font-family: 'Titillium Web', sans-serif;
}

body header {
  background-color: #87509c;
  padding-bottom: 2rem;
}

body header .nav .nav-item {
  margin-right: 2rem;
}

body header .nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 18px;
}

body header .nav .nav-item .nav-link:hover {
  background-color: #643a79;
  border-radius: 5px;
}

body header .nav .nav-item:last-child {
  margin-right: 0;
}

body header .jumbotron-fluid {
  background: transparent;
  text-align: center;
  color: #ffffff;
  padding: 9.2rem 0;
}

body header .jumbotron-fluid h1 {
  font-weight: 800;
  font-size: 2.7rem;
}

body header .jumbotron-fluid a {
  text-transform: uppercase;
  background-color: #eb7d4b;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 3rem;
  -webkit-box-shadow: 1px 3px 1px #c86a40;
          box-shadow: 1px 3px 1px #c86a40;
}

body header .jumbotron-fluid a:hover {
  color: #ffffff;
}

body #service, body #portfolio, body #contact {
  color: #ffffff;
  padding: 7rem 0 3rem;
  background: #17c2a4;
  text-align: center;
}

body #service h1, body #portfolio h1, body #contact h1 {
  font-weight: 900;
  letter-spacing: 4px;
}

body #service .hr, body #portfolio .hr, body #contact .hr {
  width: 100px;
  border-bottom: 5px solid #15af94;
  margin: 1rem auto;
}

body #service p, body #portfolio p, body #contact p {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: lighter;
}

body #service .card, body #portfolio .card, body #contact .card {
  background: transparent;
  border: none;
  margin-top: 2rem;
}

body #service .card h2, body #portfolio .card h2, body #contact .card h2 {
  font-size: 1.5rem;
}

body #service .card img, body #portfolio .card img, body #contact .card img {
  width: 30%;
  height: 7vw;
  -o-object-fit: contain;
     object-fit: contain;
}

body #service .card p, body #portfolio .card p, body #contact .card p {
  font-size: .8rem;
}

body #portfolio {
  color: #60584a;
  background: #ffdd99;
}

body #portfolio .hr {
  border-color: #e5c37f;
}

body #portfolio .align {
  width: 100%;
}

body #portfolio .align .filter-button {
  font-size: 18px;
  padding: .9rem 2rem;
  background: #ebc985;
  border-radius: 5px;
  margin-bottom: 20px;
}

body #portfolio .align .filter-button:hover {
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
}

body #portfolio .align .filter-button:active {
  background-color: #ffffff;
}

body #portfolio #myBtn {
  margin: auto;
  background: #17c2a4;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
  -webkit-box-shadow: 1px 2.5px 1px #15af94;
          box-shadow: 1px 2.5px 1px #15af94;
}

body #portfolio #more {
  display: none;
}

body #portfolio .gallery_product {
  margin-bottom: 30px;
}

body #contact {
  background: #3c5499;
  color: #ffffff;
}

body #contact .hr {
  border-color: #273a71;
}

body #contact .input {
  width: 80%;
  margin: 4rem auto 2rem;
}

body #contact .input .contactInput {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: #273a71;
  color: #ffffff;
}

body #contact .input ::-webkit-input-placeholder {
  color: #ffffff;
}

body #contact .input :-ms-input-placeholder {
  color: #ffffff;
}

body #contact .input ::-ms-input-placeholder {
  color: #ffffff;
}

body #contact .input ::placeholder {
  color: #ffffff;
}

body #contact .input .contactbtn {
  margin: auto;
  background: #30bae7;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
  -webkit-box-shadow: 1px 2.5px 1px #299ec5;
          box-shadow: 1px 2.5px 1px #299ec5;
}

body footer {
  background: #344b8e;
}

body footer .nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: bold;
  margin-left: 2rem;
  font-size: 20px;
}

body footer .nav .nav-item .nav-link:hover {
  color: #30bae7;
}

@media only screen and (min-width: 1024px) {
  .gallery_product img {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .card img {
    height: 15vw !important;
  }
  .gallery_product img {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */